[Unit]
Description=First Boot Setup for Warewulf Node
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
