[Unit]
Description=Intel Performance Counter Monitor (PCM) Sensor Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment="PCM_KEEP_NMI_WATCHDOG=1"
ExecStartPre=/sbin/modprobe msr
ExecStart=/usr/sbin/pcm-sensor-server
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
